@{
    ViewBag.Title = "Edit Trip";
    ViewBag.Action = "Edit";
    ViewBag.ButtonValue = "Save";
}

@model Carpooling.MVC.Models.TripViewModel

<div><h3>Do you want to edit this trip?</h3></div>

<partial name="_TripForm.cshtml" />