@{ ViewBag.Title = "About"; }

<div class="info-header mb-5 container mt-5">
    <h1 class="text-primary pb-3 about-title text-center">
        Why is Carpooling the best?
    </h1>
    <p class="lead pb-3 text-center">
        Carpooling is a web application that enables you to share your travel from one location to other with other passengers. Every user can either organize a shared travel or request to join someone else’s travel.
        Sharing a carpool is a great way to travel. It's affordable, comfortable and eco-friendly! The aim of Carpooling is to make travel buddy search easier, to increase the comfort of travelling, to reduce costs and last but not the least, to protect the environment.
    </p>
</div>

<div class="accordion container px-lg-5" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <p class="text-primary pb-3 about-title text-center"> Travel at а low price</p>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p class="lead pb-3 text-center">  No matter where you are going, there’s a carpooling ride that will get you there for less, while reducing CO2 emmissions.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <p class="text-primary pb-3 about-title text-center">Trustworthy and secure</p>
        </h2>
    </div>
    <div class="accordion-item">
        <div class="accordion-body">
            <p class="lead pb-3 text-center"> We take the time to get to know each of our members. We check reviews, profiles and IDs, 
            so you know who you’re travelling with and can book your ride at ease on our secure platform.</p>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <p class="text-primary pb-3 about-title text-center"> Easy to book a ride </p>
        </h2>
    </div>
    <div class="accordion-item">
        <div class="accordion-body">
            <p class="lead pb-3 text-center">There is always a ride close to you, just apply for the nearest trip and if the driver approves you then you are ready to go.</p>
        </div>
    </div>
</div>

