@{
    this.Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">
    <link rel="stylesheet" href="~/lib/prismjs/themes/prism.css">
    <link rel="stylesheet" href="~/lib/prismjs/plugins/line-numbers/prism-line-numbers.css">
    <link rel="stylesheet" href="~/lib/prismjs/plugins/toolbar/prism-toolbar.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
    <link href="~/lib/mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="~/css/theme.min.css">
    <title>404 error</title>
</head>

<body>
    <div class="container min-vh-100 d-flex justify-content-center
      align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="~/images/error/404-error-img.png" alt="" class="img-fluid">
                    </div>
                    <h1 class="display-4 fw-bold">Oops! the page not found.</h1>
                    <p class="mb-4"> Or simply leverage the expertise of our consultation team. </p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/feather-icons/dist/feather.min.js"></script>
    <script src="~/lib/prismjs/components/prism-core.min.js"></script>
    <script src="~/lib/prismjs/components/prism-markup.min.js"></script>
    <script src="~/lib/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="~/js/theme.min.js"></script>
</body>
</html>